.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: 'Roboto', sans-serif;
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}
