.maindiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 5rem;
  padding-top: 3rem;
}
.smalldiv {
  height: 15rem;
  width: 25rem;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 10px 10px;

  > h2 {
    font-weight: bold;
  }
}

@media screen and (max-width: 892px) {
  .maindiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
    padding-top: 3rem;
    gap: 40px;
  }

  .smalldiv {
    height: 15rem;
    width: 18rem;
    margin: 0 auto;
    margin-bottom: 40px;
    &:hover {
      transform: scale(1.2);
      transform-origin: center;
    }
    > h2 {
      font-weight: bold;
    }
  }
  .titlename {
    font-weight: normal;
  }
}
